#innerInner {
  background-color: var(--black);
  height: auto;
}

.intro, header {
  background: none;
}

.intro {
  position: relative;
  height: 100vh;
}

.intro > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.section {
  position: relative;
  z-index: 0;
  padding: 90px 0;
}

.section__inner {
  padding-inline: 20px;
}

.productionSection {
  position: relative;
  z-index: 0;
}

.productionSection .section__inner {
  padding-top: 80px;
}

.productionSection .backTextDiv {
  top: 35px;
}

.productionVideoDiv {
  position: relative;
  width: 100%;
  height: 650px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productionVideoDiv video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.videoMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.playButton {
  width: 120px;
  height: 120px;
  border: 1px solid var(--white);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: .3s;
}

.playButton:active {
  transform: scale(.85);
  transition: .3s;
}

.playBtnSvg {
  width: 24px;
  height: 30px;
  margin-left: 3px;
  color: var(--white);
}

.portfolioInner {
  display: flex;
  flex-direction: column;
  gap: 88px;
}

.portfolioCategory > p {
  font-family: "Exo 2";
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}

.portfolioImage {
  position: relative;
  width: 100%;
  height: 670px;
  margin-top: 32px;
}

.portfolioImage > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoriesDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 24px;
}

.category > p {
  font-family: "Exo 2";
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: var(--blue);
  text-transform: uppercase;
  border: 1px solid #EDEDED;
  width: 100%;
  padding: 22px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
  /* cursor: pointer; */
}

.portfolioTextDiv {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.portfolioText > p {
  font-family: "Inter";
  font-size: 20px;
  line-height: 32px;
  color: #5D5D5F;
}

.centeredDiv {
  padding-top: 88px;
}

@media (max-width: 1800px) {
  .section {
    padding: 85px 0;
  }
  .productionVideoDiv, .portfolioImageDiv {
    height: 500px;
  }
  .portfolioCategory > p {
    font-size: 32px;
    line-height: 40px;
  }
  .portfolioImage {
    height: 480px;
    margin-top: 24px;
  }
  .category > p {
    font-size: 20px;
    line-height: 26px;
    padding: 18px;
  }
  .portfolioText > p {
    font-size: 18px;
    line-height: 26px;
  }
  .centeredDiv {
    padding-top: 40px;
  }
}

@media (max-width: 1200px) {
  .productionVideoDiv, .portfolioImageDiv {
    height: 440px;
  }
  .backTextDiv {
    top: 35px;
  }
  .portfolioImage {
    height: 400px;
    margin-top: 24px;
  }
}

@media (max-width: 1024px) {
  .portfolioInner {
    gap: 40px;
  }
  .portfolioImage {
    height: 320px;
    margin-top: 24px;
  }
  .intro__inner {
    padding: 40px 20px;
  }
  .section {
    padding: 56px 0;
  }
  .centeredDiv {
    padding-top: 40px;
    margin: 0;
  }
}

@media (max-width: 960px) {
  .productionVideoDiv, .portfolioImageDiv {
    height: 360px;
  }
  .category > p {
    font-size: 18px;
    line-height: 30px;
  }
  .portfolioText > p {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  #innerInner .intro__inner {
    background-color: var(--black);
  }
  #innerInner .pageNavigation__text, #innerInner .pageTitle {
    color: var(--white);
  }
  #innerInner .pageNavigation__text.blue {
    color: var(--blue);
  }
  .intro {
    height: 300px;
  }
  .intro__inner {
    padding: 48px 20px;
  }
  .backTextDiv {
    top: 65px;
  }
  .productionSection .backTextDiv {
    top: 58px;
  }
  .productionVideoDiv {
    height: 222px;
  }
  .playButton {
    width: 80px;
    height: 80px;
  }
  .playBtnSvg {
    width: 27px;
    height: 27px;
  }
  .productionSection .section__inner {
    padding-top: 40px;
  }
  .categoriesDiv {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

@media (max-width: 600px) {
  .portfolioCategory > p {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
  }
  .portfolioImage {
    height: 250px;
    margin-top: 12px;
  }
  .sectionSubtitle {
    text-align: center;
  }
}