#innerInner {
  background-color: var(--black);
  height: auto;
}

.intro, header {
  background: none;
}

.intro {
  position: relative;
  height: 100vh;
}

.intro > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.section {
  position: relative;
  z-index: 0;
  padding: 160px 0 128px 0;
}

.section__inner {
  padding-inline: 20px;
}

.backTextDiv {
  margin-top: 10px;
}

.portfolioDiv {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 88px;
}

.portfolioContentDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.portfolioLink {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.portfolioLink:hover .button {
  background-color: var(--white);
  color: var(--blue);
  transition: .3s;
}

.portfolioInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.developmentTitle {
  font-family: "Exo 2";
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}

.portfolioSubtitle {
  font-family: "Inter";
  font-size: 24px;
  line-height: 32px;
  color: #636363;
  max-width: 856px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}

.button {
  background-color: var(--blue);
  color: var(--white);
  font-family: "Exo 2";
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 18px 64px;
  border: 1px solid var(--blue);
  transition: .3s;
}

.portfolioImageDiv {
  position: relative;
  width: 100%;
  height: 670px;
}

.portfolioImageDiv img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.calendarDiv {
  display: flex;
  gap: 8px;
  color: #636363;
}

.calendar {
  width: 22px;
  height: 22px;
}

.time {
  font-family: "Inter";
  font-size: 18px;
  line-height: 24px;
}

.productionSection {
  position: relative;
  z-index: 0;
}

.productionSection .section__inner {
  padding-top: 80px;
}

.productionSection .backTextDiv {
  top: 35px;
}

.productionVideoDiv {
  position: relative;
  width: 100%;
  height: 650px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productionVideoDiv img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.playButton {
  width: 120px;
  height: 120px;
  border: 1px solid var(--white);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: .3s;
}

.playButton:active {
  transform: scale(.85);
  transition: .3s;
}

.playBtnSvg {
  width: 24px;
  height: 30px;
  margin-left: 3px;
  color: var(--white);
}

.centeredDiv {
  margin-top: 48px;
}

.centerBtn {
  padding: 24px 198px;
}

@media (max-width: 1800px) {
  .productionVideoDiv, .portfolioImageDiv {
    height: 500px;
  }
  .portfolioSubtitle, .time {
    font-size: 16px;
    line-height: 26px;
  }
  .portfolioDiv {
    gap: 60px;
  }
  .button {
    padding: 16px 48px;
  }
}

@media (max-width: 1200px) {
  .productionVideoDiv, .portfolioImageDiv {
    height: 440px;
  }
  .backTextDiv {
    top: 35px;
  }
  #portfolio {
    padding: 85px 0;
  }
}

@media (max-width: 1024px) {
  .intro__inner {
    padding: 40px 20px;
  }
  .centerBtn {
    padding: 16px 120px;
  }
}

@media (max-width: 960px) {
  .productionVideoDiv, .portfolioImageDiv {
    height: 360px;
  }
  .developmentTitle {
    font-size: 26px;
    line-height: 32px;
  }
  .button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  #innerInner .intro__inner {
    background-color: var(--black);
  }
  #innerInner .pageNavigation__text, #innerInner .pageTitle {
    color: var(--white);
  }
  #innerInner .pageNavigation__text.blue {
    color: var(--blue);
  }
  .intro {
    height: 300px;
  }
  .intro__inner {
    padding: 48px 20px;
  }
  .backTextDiv {
    top: 65px;
  }
  .productionSection .backTextDiv {
    top: 58px;
  }
  .productionVideoDiv {
    height: 222px;
  }
  .playButton {
    width: 80px;
    height: 80px;
  }
  .playBtnSvg {
    width: 27px;
    height: 27px;
  }
  .portfolioDiv {
    margin-top: 16px;
  }
  .portfolioImageDiv {
    height: 250px;
  }
  .portfolioContentDiv {
    flex-direction: column;
  }
  .button {
    width: 100%;
    text-align: center;
    padding: 12px 20px;
  }
  .developmentTitle {
    font-size: 18px;
    line-height: 30px;
  }
  .portfolioSubtitle {
    -webkit-line-clamp: 3;
  }
  .sectionSubtitle {
    text-align: center;
  }
  .centeredDiv {
    width: 100%;
    padding: 0;
    margin-top: 56px;
  }
  .centerBtn {
    padding: 16px 20px;
  }
  #portfolio {
    padding: 56px 0 40px 0;
  }
  .productionSection .section__inner {
    padding-top: 40px;
  }
}