/* ===== HEADER ===== */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  /* background-color: var(--black); */
  position: relative;
  z-index: 0;
}

.header__inner {
  padding: 65px 20px 70px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner__main {
  display: flex;
  align-items: center;
  gap: 70px;
}

.logo__div {
  position: relative;
  width: 220px;
  height: 34px;
}

.logo__div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
    object-fit: fill;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 56px;
}
.nav__link, .langName {
  font-family: "Inter";
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  position: relative;
}

.scrollLink, .scrollLangName {
  font-family: "Inter";
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--black);
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #1D539C;
  height: 1.75px;
  bottom: -5px;
  left: 0;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}

.nav__link:hover::after {
  transform: scale(1, 1);
}

.extraNavigationContainer {
  position: relative;
}

.extraNavigationContainer:hover .extraNavBox {
  display: flex;
  transition: .3s;
}

.extraNavigationContainer:hover .extraNavBoxLang {
  display: flex;
  transition: .3s;
}

.extraNavBox {
  position: absolute;
  top: 30px;
  left: -125.5px;
  display: none;
  flex-direction: column;
  transition: .3s;
}

.extraNavBoxLang {
  position: absolute;
  top: 25px;
  left: -40px;
  display: none;
  flex-direction: column;
  transition: .3s;
}

.clipPathDiv {
  display: flex;
  justify-content: flex-end;
}

.clipPath {
  clip-path: polygon(50% 20%, 15% 100%, 85% 100%);
  background-color: var(--white);
  color: var(--white);
  max-width: 32px;
  width: 100%;
  height: 16px;
  margin-right: 43px;
}

.clipPathLang {
  clip-path: polygon(50% 20%, 15% 100%, 85% 100%);
  background-color: var(--white);
  color: var(--white);
  max-width: 32px;
  width: 100%;
  height: 16px;
  margin-right: 20px;
}

.extraNavContentlang {
  background-color: var(--white);
  padding: 4px 16px;
  display: flex;
  flex-direction: column;
  width: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.extraNavContent {
  background-color: var(--white);
  padding: 4px 16px;
  display: flex;
  flex-direction: column;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.extraNav__link {
  padding: 12px 0;
  width: 100%;
  display: inline-block;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  color: #020105;
  border-bottom: 1px solid #EBEBEB;
  transition: .3s;
}

.extraNav__link:last-child {
  border-bottom: none;
}

.extraNav__link:hover {
  color: var(--blue);
  transition: .3s;
}

.extraNavigation {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.extraNavigation span {
  width: 12px;
  height: 1.2px;
  background-color: #ffffff;
}

.scrollExtraNav {
  border: 1px solid var(--black);
}

.scrollExtraNav span {
  background-color: var(--black);
}

.header__langChanger {
  display: flex;
  color: #ffffff;
  gap: 8px;
  cursor: pointer;
}

.header__langChanger svg {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}

.extraNavigationContainer:hover svg {
  transform: rotate(180deg);
  transition: 0.3s;
}

.chevronScroll {
  color: var(--black);
  transition: .3s;
}

.rotateChevron {
  transform: rotate(180deg);
  transition: .3s;
}

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  height: 100px;
  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  animation: fadeIn .3s ease;
  transition: .3s;
  z-index: 9999;
}

.header__scroll {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
}

.miniHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  height: 80px;
  background-color: var(--white);
  transition: .5s;
  z-index: 5;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.fixedHeader__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
}

.hamburgerAbsolute {
  display: none;
}

/* === MOBILE HEADER === */
.bodyLock {
  height: 100vh;
  overflow: hidden;
}

.mobileHeader {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: width .3s;
  z-index: 4;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.mobileHeader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.mobileHeader__inner {
  width: calc(100vw - 80px);
  height: 100%;
  background-color: var(--white);
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 16px;
  overflow-y: scroll;
}

.mobileHeader__inner::-webkit-scrollbar {
  display: none;
}

.mobileNav {
  display: flex;
  flex-direction: column;
}

.mobileNav__link {
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding: 18px 0;
  border-bottom: 1px solid #D7D7D7;
  transition: .3s;
}

.mobileNav__link:hover {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
  transition: .3s;
}

.activeMobileLink {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
}

.mobileContent {
  max-width: 185px;
  margin: 0 auto;
  width: 100%;
}

.mobileSocialMedia {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-around;
  margin-top: 46px;
}

.mobilePhoneNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  padding-top: 46px;
}

.mobilePhoneNumber a {
  font-family: "Inter";
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

.copyTextMobile, .copyTextMobile span {
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  color: #D7D7D7;
  text-align: center;
  margin-top: 18px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

.hamburger span {
  width: 24px;
  height: 1px;
  background-color: var(--white);
  border-radius: 4px;
  transition: .3s;
}

.hamburgerScroll span {
  background-color: var(--black);
}

.rotate45deg {
  position: absolute;
  transform: rotate(45deg);
  transition: .3s;
}

.rotate-45deg {
  position: absolute;
  transform: rotate(-45deg);
  transition: .3s
}

@media (max-width: 1800px) {
  .header__inner {
    padding: 48px 20px;
  }
  .inner__main {
    gap: 40px;
  }
  .logo__div {
    max-width: 180px;
  }
  .header__nav {
    gap: 32px;
  }
  .nav__link, .langName {
    font-size: 16px;
    line-height: 24px;
  }
  .header__langChanger svg {
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
  .extraNavBoxLang {
    top: 20px;
  }
  .clipPathLang {
    margin-right: 25px;
  }
}

@media (max-width: 1200px) {
  .logo__div {
    max-width: 160px;
  } 
  .extraNavBoxLang {
    left: -60px;
  }
  .clipPathLang {
    margin-right: 6px;
  }
}

@media (max-width: 1024px) {
  .header__inner {
    padding: 24px 20px;
  }
  .inner__main, .header__nav {
    gap: 20px;
  }
}

@media (max-width: 960px) {
  .logo__div {
    max-width: 120px;
    height: 24px;
  } 
  .nav__link, .scrollLink, .langName, .scrollLangName {
    font-size: 14px;
    line-height: 20px;
  }
  .header__nav, .inner__main {
    gap: 12px;
  }
  .header__langChanger {
    gap: 4px;
  }
  .header__langChanger svg {
    margin-top: 0;
  }
  .extraNavBoxLang {
    left: -80px;
    padding: 0 12px;
  }
  .extraNavBox {
    padding: 0 12px;
  }
  .clipPath {
    clip-path: polygon(50% 0%, 20% 100%, 80% 100%);
    height: 12px;
    margin-right: 55px;
  }
  .clipPathLang {
    clip-path: polygon(50% 0%, 20% 100%, 80% 100%);
    height: 12px;
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  header {
    display: none;
  }
  .fixedHeader {
    height: 80px;
  }
  .header__inner, .header__scroll, .fixedHeader__inner {
    justify-content: center;
    position: relative;
  }
  .logo__div {
    max-width: 156px;
    height: 24px;
  }
  .header__nav {
    display: none;
  }
  .header__langChanger svg {
    width: 20px;
    height: 20px;
  }
  .langName, .scrollLangName {
    font-size: 16px;
  }
  .hamburgerAbsolute {
    display: block;
    position: absolute;
    left: 20px;
  }
  .miniHeader {
    display: flex;
  }
  .extraNavigationContainer {
    position: absolute;
    right: 20px;
  }
  .extraNavigationContainer:hover svg {
    transform: none;
  }
  .chevronParent {
    transition: .3s;
    width: 20px;
    height: 20px;
  }
  .extraNavBoxLang {
    left: -40px;
  }
  .extraNavContentlang {
    width: 90px;
    /* border-radius: 15px; */
  }
}

@media (max-width: 400px) {   
  .mobileNav__link {
    padding: 16px 0;
  }
  .mobileSocialMedia {
    margin-top: 18px;
  }
}