.main {
  position: relative;
}

.section__inner {
  padding-inline: 20px;
}

.miniTextSection {
  padding: 48px 20px 104px 20px;
}

.miniTextDiv {
  max-width: 952px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textDiv__text {
  font-family: "Inter";
  font-size: 20px;
  line-height: 32px;
  color: #353437;
}

.tabButtonDiv {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.button.active {
  background-color: var(--blue);
  color: var(--white);
  font-family: "Exo 2";
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 24px 40px;
  border: 1px solid var(--blue);
  transition: .3s;
  text-align: center;
  cursor: pointer;
}

.button {
  background-color: var(--white);
  color: var(--blue);
  font-family: "Exo 2";
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 24px 40px;
  border: 1px solid var(--blue);
  transition: .3s;
  text-align: center;
  cursor: pointer;
}

.button.active:hover{
  background-color: #21457a;
  transition: .3s;
}

.button:hover, .isothermic__link:hover  {
  background-color: var(--blue);
  color: var(--white);
  transition: .3s;
}

.isothermicsSection {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
}

.isothermic {
  position: relative;
  background-color: #F8F8F8;
  border-bottom: 1px solid #D7D7D7;
}

.isothermic:last-child {
  border-bottom: none;
}

.isothermic__inner {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 96px 20px 100px 20px;
}

.isothermicCountNumber {
  position: absolute;
  top: 48px;
  left: 50px;
  font-family: "Inter";
  font-size: 90px;
  line-height: 125px;
  font-weight: 500;
  color: #EBEBEB;
}

.isothermicContent {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.isothermicTexts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.isothermic__title {
  font-family: "Exo 2";
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}

.isothermic__subtitle {
  font-family: "Inter";
  font-size: 18px;
  line-height: 28px;
  color: var(--black);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}

.isothermicLinkDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.isothermic__link {
  background-color: var(--white);
  color: var(--blue);
  padding: 20px 64px;
  border: 1px solid var(--blue);
  font-family: "Exo 2";
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
}

.isothermicImageDiv {
  width: 60%;
  gap: 20px;
}

.miniImagesDiv {
  margin-top: 20px;
}

.miniImage {
  opacity: .5;
}

.miniImage.swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid var(--blue);
  transition: .3s;
}

.image {
  position: relative;
  width: 100%;
  height: 430px;
  cursor: pointer;
  overflow: hidden;
}

.miniImage {
  position: relative;
  height: 110px;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
}

.button:active, .button.active:active, .isothermic__link:active, .buttonSubmit:active, .xBtn:active {
  transform: scale(.85);
  transition: .3s;
}

.centeredDiv {
  padding: 40px 20px 152px 20px;
}

/* === MODAL === */
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  transition: .5s;
  animation: fadeIn .5s ease;
}

.modal__inner {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  padding: 73px 154px;
  position: relative;
}

.modalText {
  font-family: "Inter";
  font-size: 20px;
  line-height: 28px;
  color: #2F2F22;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 12px;
}

.parentDiv {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-family: "Inter";
  font-size: 20px;
  line-height: 28px;
  color: #2F2F22;
}

.input {
  border: none;
  padding: 36px 0;
  border-bottom: 1px solid #D7D7D7;
  font-family: "Inter";
  font-size: 24px;
  line-height: 30px;
  color: #2F2F22;
}

.input:focus {
  outline: none;
}

::placeholder {
  font-family: "Exo 2";
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #DDDDDD;
}

.buttonSubmit {
  width: 100%;
  padding: 20px;
  border: 1px solid var(--blue);
  color: var(--blue);
  font-family: "Exo 2";
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  background: none;
  cursor: pointer;
  transition: .3s;
}

.buttonSubmit:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: .3s;
}

.xBtn {
  width: 60px;
  height: 60px;
  transition: .3s;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}

/* === SWIPER === */
.swiper {
  z-index: 0;
}

.swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tabSection.active {
  display: block;
}

.tabSection {
  display: none;
}

@media (max-width: 1800px) {
  .textDiv__text, .isothermic__subtitle {
    font-size: 16px;
    line-height: 28px;
  }
  .button, .button.active, .isothermic__link {
    padding: 20px 48px;
  }
  .image {
    height: 360px;
  }
  .miniImage {
    height: 80px;
  }
  .isothermicCountNumber {
    font-size: 64px;
    line-height: 72px;
    top: 20px;
    left: 20px;
  }
  .isothermic__title {
    font-size: 40px;
    line-height: 48px;
  }
  .modal__inner {
    padding: 32px 100px;
    max-width: 952px;
  }
  .modal__form {
    margin-top: 24px;
    gap: 32px;
  }
  .input {
    padding: 8px 0;
    font-size: 18px;
    line-height: 24px;
  }
  ::placeholder {
    font-size: 18px;
    line-height: 24px;
  }
  .label {
    font-size: 16px;
    line-height: 24px;
  }
  .modalText {
    font-size: 16px;
    line-height: 28px;
  }
  .buttonSubmit {
    padding: 16px 20px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  .image {
    height: 320px;
  }
  .isothermic .section__inner {
    grid-template-columns: .4fr .6fr;
  }
  .isothermic__link {
    font-size: 16px;
    line-height: 24px;
  }
  .xBtn {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 1024px) {
  .image {
    height: 280px;
  }
  .miniImage {
    height: 60px;
  }
  .xBtn {
    top: 12px;
    right: 12px;
  }
  .modal__inner {
    max-width: 700px;
    padding: 48px;
  }
  .modal__form {
    gap: 24px;
  }
}

@media (max-width: 960px) {
  .button, .isothermic__link {
    font-size: 16px;
    line-height: 24px;
  }
  .isothermic__inner {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
  }
  .image {
    height: 360px;
  }
  .miniImage{
    height: 100px;
  }
  .isothermic {
    border-bottom: none;
  }
  .isothermicImageDiv {
    width: 100%;
  }
  .isothermicContent {
    width: 100%;
    gap: 24px;
  }
  .isothermic__link, .isothermicLinkDiv {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .textDiv__text {
    font-size: 14px;
    line-height: 24px;
  }
  .isothermic__inner:first-child {
    padding-top: 24px;
  }
  .isothermic__inner {
    padding: 56px 20px 0 20px;
  }
  .isothermicCountNumber {
    display: none;
  }
  .miniTextSection {
    padding: 24px 20px 32px 20px;
  }
  .tabButtonDiv {
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    gap: 24px;
  }
  .tabButtonDiv::-webkit-scrollbar {
    display: none;
  }
  .isothermicsSection {
    margin-top: 0px;
  }
  .isothermicTexts {
    gap: 8px;
  }
  .isothermic__title {
    font-size: 20px;
    line-height: 30px;
  }
  .isothermic__subtitle {
    font-size: 14px;
    line-height: 24px;
  }
  .isothermic__link {
    padding: 12px 20px;
  }
  .button, .button.active {
    text-align: center;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 24px;
  }
  .modal__inner {
    max-width: 100%;
    height: 100%;
    padding: 48px;
  }
  .xBtn {
    width: 32px;
    height: 32px;
  }
  .modal__form {
    margin-top: 48px;
    gap: 48px;
  }
  .input {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 600px) {
  .image {
    height: 230px;
  }
  .miniImage {
    height: 46px;
  }
  .centeredDiv {
    margin-top: 0;
    padding: 24px 20px 40px 20px;
  }
  .isothermic:last-child {
    padding-bottom: 32px;
  }
  .miniImagesDiv {
    padding: 0 13px;
  }
}